.vinil-box {
  height: 130px;
  width: 130px;
  background-color: var(--primary-color);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  position: relative;
  cursor: pointer;
}

.vinil-box__name {
  margin-bottom: 2px;
  font-size: 12px;
}