.country-list {
  position: fixed;
  top: 270px;
  height: calc(100vh - 380px);
  display: grid;
  grid-template-rows: 27px;
  grid-template-columns: 270px 30px;  
  grid-gap: 1px;
  font-size: 20px;
  z-index: 1;
  overflow-x: auto;
  overflow-y: scroll;
}

.country-list__title {
  position: fixed;
  top: 200px;
}

@media screen and (min-width: 677px) {
  .country-list {
    top: 340px;
    height: calc(100vh - 420px);
    grid-template-columns: 370px 30px;
  }
  
  .country-list__title {
    position: fixed;
    top: 270px;
  }
}

.country-list::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: var(--contranst-3);
}

.country-list::-webkit-scrollbar-thumb {
  background: var(--brand);
}

.country-list__name,
.country-list__check,
.country-list__name--sel,
.country-list__check--sel {
  cursor: pointer;
}

.country-list__name--sel {
  color: var(--brand);
}

.country-list__check,
.country-list__check--sel {
  background-repeat: no-repeat;
  background-position: center;
}

.country-list__check {
  background-image: var(--plus-img);
}

.country-list__check--sel {
  background-image: var(--check-img);
}