.logo {
  display: grid;
  grid-template-columns: 64px;
  grid-template-rows: 64px;
  grid-template-areas: 'logo';
  grid-gap: .5px;
  flex-direction: column;
  align-items: end;
  justify-items: center;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
}

@media screen and (min-width: 677px) {
  .logo {
    right: 300px;
  }
}

.logo__img {
  width: 64px;
  height: 64px;
  grid-row: 1;
  grid-column: 1;
}

.logo__menu--open,
.logo__menu--close {
  background-color: var(--contranst-1);
  display: flex;
  width: 50px;
  height: 42px;
  align-items: center;
  justify-content: center;
}

.logo__menu--close {
  grid-row: 1;
  grid-column: 1;
}

.logo__lash--open,
.logo__lash--close {
  width: 64px;
  height: 13px;
  background-image: url(https://ut0p14.s3.us-east-2.amazonaws.com/lash.webp);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__lash--close:hover,
.logo__lash--open:hover {
  cursor: pointer;
}

.logo__lash:hover .polygon {
  fill: var(--gray-0);
}
.logo__polygon--close,
.logo__polygon--open {
  margin-top: 2px;
  fill: var(--gray-1);
  transition: transform ease .3s;
}

.logo__polygon--close {
  transform: rotate(180deg);
}

.logo__polygon--open {
  transform: rotate(0deg);
}