.region-picker {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 490px;
  align-items: center;
  justify-content: space-evenly;
  width: 300px;
  margin: 20px auto 0 auto;
  transition: height ease 1s;
}

.region-picker::before {
  height: 130px;
  width: 130px;
  content: '';
  position: absolute;
  display: block;
  top: 30px;
  left: 20px;
  background-image: var(--vinil-disk);
  background-size: 120px;
  background-repeat: no-repeat;
  opacity: 0;
  visibility: hidden;
  transition: left ease .5s, visibility ease .5s, opacity ease .5s;
}

.region-picker--sel::before {
  opacity: 1;
  visibility: visible;
  left: 95px;
}

.region-picker__img {
  background-repeat: no-repeat;
  background-size: 59px;
  background-position: center;
  visibility: visible;
  opacity: 1;
  transition: visibility ease 0.5s, opacity ease 0.5s, height ease 0.5s,
    width ease 0.5s;
}

.region-picker__img--hid {
  visibility: hidden;
  opacity: 0;
}

.region-picker__img--sel,
.region-picker__img:hover {
  background-color: var(--contranst-2);
}

.region-picker__img--americas {
  background-image: var(--ame-img);
  background-position-y: 15px;
}

.region-picker__img--africa {
  background-image: var(--afr-img);
}

.region-picker__img--europe {
  background-image: var(--eur-img);
}

.region-picker__img--asia {
  background-image: var(--asi-img);
}

.region-picker__img--oceania {
  background-image: var(--oce-img);
}
.region-picker__img--americas-sel {
  justify-self: stretch;
}

.region-picker__img--americas-sel,
.region-picker__img--americas:hover {
  background-image: var(--ame-img-sel);
  background-position-y: 15px;
}

.region-picker__img--africa-sel,
.region-picker__img--africa:hover {
  background-image: var(--afr-img-sel);
}

.region-picker__img--europe-sel,
.region-picker__img--europe:hover {
  background-image: var(--eur-img-sel);
}

.region-picker__img--asia-sel,
.region-picker__img--asia:hover {
  background-image: var(--asi-img-sel);
}

.region-picker__img--oceania-sel,
.region-picker__img--oceania:hover {
  background-image: var(--oce-img-sel);
}
