.headline {
  display: flex;
  background-image: url(https://ut0p14.s3.us-east-2.amazonaws.com/Headline+separator.webp);
  background-repeat: no-repeat;
  background-position-X: center;
  background-position-y: bottom;
  background-size: 250px;
  justify-content: center;
  height: 45px;
  padding-bottom: 5px;
  align-items: end;
  margin-right: 64px;
}

.headline__title {
  margin: 0
}

@media screen and (min-width: 677px) {
  .headline {
    height: 90px;
    background-size: 550px;
  }
}