:root {
  font-family: 'Open Sans', sans-serif;
}

:root,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  display: flex;
  margin: 0;
}

h1 {
  letter-spacing: -2px;
  font-weight: 800;
  font-size: 48px;
}

@media screen and (max-width: 540px) {
  h1 {
    font-size: 24px;
    line-height: 2;
  }
}

#root {
  display: flex;
}