:root {
  --gray-0: #FFFFFF;
  --gray-1: #F2F2F2;
  --gray-2: #C5C6C8;
  --gray-3: #3C3C3B;
  --gray-4: #ffffff2b;
  --gray-7: #111010;
  --gray-8: #171616;
  --gray-9: #090909;
  --brand: #E3127E;
  --brand-1: #d40a73;
  --bg-color: var(--gray-9);
  --font-color: var(--gray-1);
  --primary-color: var(--gray-8);
  --secondary-color: var(--gray-2);
  --contranst-1: var(--gray-2);
  --contranst-2: var(--gray-7);
  --contranst-3: var(--gray-4);
  --contranst-4: var(--gray-2);
  --theme: url(https://ut0p14.s3.us-east-2.amazonaws.com/light-mode.webp);
  --vinil-disk: url(https://ut0p14.s3.us-east-2.amazonaws.com/vinil-disklight.webp);
  --ame-img: url(https://ut0p14.s3.us-east-2.amazonaws.com/Americaame.webp);
  --afr-img: url(https://ut0p14.s3.us-east-2.amazonaws.com/Africaafr.webp);
  --eur-img: url(https://ut0p14.s3.us-east-2.amazonaws.com/Europeeur.webp);
  --asi-img: url(https://ut0p14.s3.us-east-2.amazonaws.com/Asiaasi.webp);
  --oce-img: url(https://ut0p14.s3.us-east-2.amazonaws.com/Oceaniaoce.webp);
  --ame-img-sel: url(https://ut0p14.s3.us-east-2.amazonaws.com/Americasel.webp);
  --afr-img-sel: url(https://ut0p14.s3.us-east-2.amazonaws.com/Africasel.webp);
  --eur-img-sel: url(https://ut0p14.s3.us-east-2.amazonaws.com/Europesel.webp);
  --asi-img-sel: url(https://ut0p14.s3.us-east-2.amazonaws.com/Asiasel.webp);
  --oce-img-sel: url(https://ut0p14.s3.us-east-2.amazonaws.com/Oceaniasel.webp);
  --check-img: url(https://ut0p14.s3.us-east-2.amazonaws.com/check.webp);
  --plus-img: url(https://ut0p14.s3.us-east-2.amazonaws.com/plusdark.webp);
}

[data-theme="light"] {
  --bg-color: var(--gray-1);
  --font-color: var(--gray-3);
  --primary-color: var(--gray-2);
  --secondary-color: var(--gray-3);
  --contranst-1: var(--gray-0);
  --contranst-2: var(--gray-2);
  --contranst-3: var(--gray-2);
  --contranst-4: var(--gray-1);
  --theme: url(https://ut0p14.s3.us-east-2.amazonaws.com/dark-mode.webp);
  --ame-img: url(https://ut0p14.s3.us-east-2.amazonaws.com/Americalig.webp);
  --afr-img: url(https://ut0p14.s3.us-east-2.amazonaws.com/Africalig.webp);
  --eur-img: url(https://ut0p14.s3.us-east-2.amazonaws.com/Europelig.webp);
  --asi-img: url(https://ut0p14.s3.us-east-2.amazonaws.com/Asialig.webp);
  --oce-img: url(https://ut0p14.s3.us-east-2.amazonaws.com/Oceanialig.webp);
  --plus-img: url(https://ut0p14.s3.us-east-2.amazonaws.com/pluslight.webp);
}

.theme-btn {
  cursor: pointer;
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 100px;
  background-color: var(--primary-color);
  background-image: var(--theme);
  background-position: center;
  background-repeat: no-repeat;
}