.cta {
  position: fixed;
  bottom: 0;
  height: 72px;
  width: 100%;
  border-top: solid 1px var(--contranst-3);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media screen and (min-width: 677px) {
  .cta {
    justify-content: center;
  }

  .cta__back,
  .cta__next,
  .cta__next--disabled {
    margin: 0 32px;
  }
}

.cta__back,
.cta__next,
.cta__next--disabled {
  height: 40px;
  width: 150px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50px;
}

.cta__back {
  border: solid 2px var(--brand);
  background-color: transparent;
  color: var(--brand);
}

.cta__back:hover {
  border: solid 2px var(--brand-1);
  color: var(--brand-1);
}

.cta__next,
.cta__next--disabled {
  border: none;
}

.cta__next {
  background-color: var(--brand);
  color: var(--gray-0);
}

.cta__next--disabled {
  background-color: var(--contranst-3);
  border: none;
  color: var(--contranst-4);
}

.cta__next:hover {
  background-color: var(--brand-1);
  color: var(--gray-1);
}